/**************************/
/* START GENERAL RULES */
/**************************/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #00252e;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@media (max-width: 72em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  position: relative;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

h2 {
  font-family: 'Poppins';
  font-weight: 600;
}

.btn {
  display: inline-block;
  background-color: #FF52C1;
  color: #fff;
  font-weight: 700;
  transition-duration: 0.4s;
}

.btn:hover {
  background-color: #FF9ADB;
}
/**************************/
/* END GENERAL RULES */
/**************************/

/**************************/
/* START GENERAL REUSABLE COMPONENTS */
/**************************/
.grid {
  display: grid;
  align-items: center;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}
/**************************/
/* END GENERAL REUSABLE COMPONENTS */
/**************************/

/*************************/
/* START HOME */
/*************************/
.home {
  background-color: hsl(193, 100%, 96%);
  background-image: url(/images/bg-hero-desktop.svg);
  background-size: cover;
  min-height: 100vh;
  padding: 4.8rem 2rem 0 2rem;
}

@media (max-width: 41em) {
  .home {
    background-image: url(/images/bg-hero-mobile.svg);
    padding: 2.87rem 2rem 4.62rem;
  }
}

/* START HEADER */
.header {
  max-width: 128rem;
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  max-width: 20rem;
}

@media (max-width: 41em) {
  .header .logo {
    max-width: 13rem;
  }
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  background-color: #fff;
  color: var(--main-color);
  padding: 1.5rem 6.4rem;
  box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.0954201);
  border-radius: 24px;
  transition-duration: 0.4s;
}

.nav-link:hover {
  color: #808E9A;
}

@media (max-width: 41em) {
  .nav-link {
    font-size: 1.25rem;
    padding: 5px 23px;
  }
}
/* END HEADER */

/* START HERO SECTION */
.hero-section {
  max-width: 127rem;
  min-height: calc(100vh - 11.7rem);
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.hero {
  grid-template-columns: 0.79fr 1fr;
  column-gap: 5.4rem;
  margin: 0 auto;
}

@media (max-width: 62em) {
  .hero {
    grid-template-columns: 1fr;
    row-gap: 5.4rem;
    text-align: center;
  }
}

.heading-primary {
  font-family: 'Poppins', sans-serif;
  font-size: 4rem;
  font-weight: 600;
  color: var(--main-color);
}

@media (max-width: 41em) {
  .heading-primary {
    font-size: 3rem;
    line-height: 1.5;
  }
}

.hero-description {
  color: hsla(192, 100%, 9%, 1);
  font-size: 1.8rem;
  line-height: 1.7;
  margin: 3.2rem 0;
}

@media (max-width: 62em) {
  .hero-description {
    max-width: 88.6%;
    margin: 3rem auto 4rem;
    font-size: 2rem;
    line-height: 1.5;
  }
}

.hero .btn {
  font-size: 1.4rem;
  padding: 1.85rem 6.95rem;
  box-shadow: 2px 3px 6px 1px rgba(255, 82, 193, 0.166185);
  border-radius: 28px;
}

@media (max-width: 41em) {
  .hero .btn {
    font-size: 1.5rem;
    padding: 1.5rem 7.48rem;
  }
}

@media (max-width: 62em) {
  .hero-img {
    max-width: 60%;
  }
}

@media (max-width: 41em) {
  .hero-img {
    max-width: 100%;
    padding: 0 4px;
  }
}
/* END HERO SECTION */
/*************************/
/* END HOME */
/*************************/

/************************
/* Start FEATURES SECTION */
/*************************/
.features-section {
  background-color: rgb(253, 253, 253);
  padding: 16rem 10.4rem 34.4rem 10.4rem;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  position: relative;
}

@media (max-width: 72em) {
  .features-section {
    padding: 7.4rem 2.5rem 28.7rem 2.5rem;
  }
}

.feature-box {
  background-color: #ffffff;
  padding: 5.3rem 3.2rem;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.07);
  border-radius: 16px;
}

@media (max-width: 41em) {
  .feature-box {
    grid-template-columns: 1fr;
    justify-items: center;
    padding: 3rem 4.94rem 6.75rem ;
  }
}

@media (max-width: 41em) {
  .feature-box .feature-text {
    grid-row: 2;
    text-align: center;
  }
}
 
.feature-text {
  max-width: 48.8rem;
  justify-self: center;
}

.feature-text h2 {
  font-size: 2.8rem;
  color: var(--main-color);
  margin-bottom: 16px;
}

@media (max-width: 41em) {
  .feature-text h2 {
    font-size: 2.5rem;
  }
}
 
.feature-text p {
  font-size: 1.8rem;
  line-height: 2.7rem;
  color: #7e8d9a;
}

.feature-img-box {
  display: flex;
}

.feature-img-box:nth-last-of-type(odd) {
  justify-content: end;
}

@media (max-width: 41em) {
  .feature-img-box {
    justify-content: center !important;
    margin-bottom: 24px;
  }
}

.feature-img {
  max-width: 69.5%;
}

/* START CTA */
.cta-box  {
  width: 80rem;
  max-width: 80rem;
  text-align: center;
  background-color: #fff;
  padding: 5.8rem 0;
  position: absolute;
  bottom: -96px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.0710768);
  border-radius: 15px;
  z-index: 999;
}

@media (max-width: 62em) {
  .cta-box {
    max-width: 94%;
    padding: 5.1rem 0;
  }
}

.cta-box h2 {
  font-size: 3.2rem;
  color: var(--main-color);
  line-height: 1.9;
  margin-bottom: 2.4rem;
}

@media (max-width: 62em) {
  .cta-box h2 {
    font-size: 2.25rem;
  }
}

.cta-box .btn {
  font-size: 2rem;
  line-height: 1.5;
  padding: 2.5rem 10rem;
  box-shadow: 0px 6px 13px rgba(0, 37, 46, 0.223053);
  border-radius: 40px;
}

@media (max-width: 41em) {
  .cta-box .btn {
    font-size: 1.25rem;
    padding: 1.56rem 6.2rem;
  }
}
/* END CTA */
/************************
/* END FEATURES SECTION */
/*************************/

/************************
Start FOOTER
*************************/
.footer {
  background-color: var(--main-color);
  color: #fff;
  font-size: 14px;
  padding: 14.4rem 7.8rem 6.4rem 12rem;
  grid-template-columns: 1.3fr 1fr 1fr 1fr;
  justify-items: center;
  position: relative;
}

@media (max-width: 62em) {
  .footer {
    padding: 16.8rem 2.6rem 5.75rem 2rem;
  }
}

@media (max-width: 41em) {
  .footer {
    grid-template-columns: 1fr;
    justify-items: flex-start;
    gap: 24px;
  }
}

.footer-logo {
  display: inline-block;
  max-width: 15.2rem;
  margin-bottom: 3.2rem;
}

@media (max-width: 41em) {
  .footer-logo {
    max-width: 20.75rem;
  }
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

@media (max-width: 41em) {
  .contacts {
    margin-bottom: 17px;
    gap: 3rem;
  }
}

.contacts .location {
  line-height: 24px;
}

.contacts .location img {
  height: 24px;
}

.contacts .location,
.contacts .footer-link {
  display: flex;
  align-items: center;
  column-gap: inherit;
}

.footer-link {
  color: #fff;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  row-gap: 1.2rem;
}

@media (max-width: 41em) {
  .footer-nav {
    row-gap: 2rem;
  }
}

.footer-nav .footer-link:hover {
  text-decoration: underline;
}

.footer-nav .footer-link {
  line-height: 27px;
}

.social-links {
  display: flex;
  column-gap: 12px;
}

@media (max-width: 41em) {
  .social-links {
    justify-self: center;
    margin-bottom: 39px;
  }
}

.social-links .footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: #fff;
  padding: 4px;
  border: 1px solid #fff;
  border-radius: 50%;
  transition-duration: 0.4s;
}

.social-links .footer-link:hover {
  border-color: #FF52C1;
  color: #FF52C1;
}

.copyright {
  position: absolute;
  bottom: 64px;
  right: 78px;
}

@media (max-width: 41em) {
  .copyright {
    margin: auto;
    font-size: 11.5px;
    bottom: 46px;
  }
}
/************************
END FOOTER
*************************/